@model Contratos.GestionClientes.Cliente

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Cliente</h4>
<hr />
<div class="row justify-content-center d-flex">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CUIT" class="control-label"></label>
                <input asp-for="CUIT" class="form-control" />
                <span asp-validation-for="CUIT" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="TelefonoCelular" class="control-label"></label>
                <input asp-for="TelefonoCelular" class="form-control" />
                <span asp-validation-for="TelefonoCelular" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group mt-5 text-center">
                <input type="submit" value="Crear Cliente" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="text-start" style="text-decoration: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
        </svg>
        Volver
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
